.iframe{
  margin-left: 50px;
}

.maps{
  display: flex;
  flex-display: row;
  margin-left: 400px;
  padding-bottom: 100px;
  
}
.userInput {
  position: relative;
}

.displayUserInput {
  bakground: white;
}






